<?xml version="1.0"?>
<config>
    <modules>
        <Eshop_CustomPayment>
            <version>1.0.0</version>
        </Eshop_CustomPayment>
    </modules>
    <global>
        <models>
            <eshop_custompayment>
                <class>Eshop_CustomPayment_Model</class>
            </eshop_custompayment>
        </models>
        <blocks>
            <eshop_custompayment>
                <class>Eshop_CustomPayment_Block</class>
            </eshop_custompayment>
        </blocks>
        <helpers>
            <eshop_custompayment>
                <class>Eshop_CustomPayment_Helper</class>
            </eshop_custompayment>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <eshop_custompayment>
                    <file>eshop_custompayment.xml</file>
                </eshop_custompayment>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <custompayment_method>
                <active>1</active>
                <model>eshop_custompayment/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Credit Card Payment</title>
                <!-- PERUBAHAN KRITIS: Mengubah cctype menjadi cctypes -->
                <cctypes>AE,VI,MC,DI</cctypes>
            </custompayment_method>
        </payment>
    </default>
</config>
